@import '../../styles/styleVariables.scss';

.myChallengesContainer {
  h1 {
    font-weight: 100;
    font-size: 3.5rem;
  }

  table {
    margin-top: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90vw;
    max-width: 35rem;
    padding: 0.5rem;
    border-radius: $borderRadius;

    thead {
      color: $textColor;
      text-align: left;
      position: relative;

      // Pseudo element for border
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0; // Align at the bottom of the thead.
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
      }
    }

    td {
      color: $textColor;
    }

    tbody tr {
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .backArrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.1s;
    text-shadow: 1px 1px 2px white;

    &:hover {
      transform: scale(1.1);
      filter: brightness(0.7);
    }
  }
}
