.coinflipContainer {
  display: flex;
  justify-content: center;

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 15rem;
    max-height: 15rem;
  }
}

.coinFlipAnimation {
  width: 20rem;
  height: 20rem;
}

#resultText {
  text-align: center;
  max-width: 20rem;
}

#coinflipResultImage {
  display: block;
  margin: auto;
}
